- var first_nav = 'open'
- var second_nav = 'close'
- var third_nav = 'close'

doctype html
html(lang!="ru")
  head
    include sections/header.jade
  body
    include sections/navigation.jade
    include sections/main.jade
    //- example form
    //
      div.main
        h3="Внимание"
        p="Оставьте ваши контактные данные и наш консультант<br/>свяжется с вами в течении 30 секунд"
        form#application(action="mail.php" method="POST" name="application")
          input#applicationName(name="name" maxlength="20" placeholder="Введите ваше имя" required)
          input#applicationEmail(name="email" type="email" maxlength="20" placeholder="Ваш E-mail" required)
          input#applicationTelephone(name="telephone" type="Tel" maxlength="20" placeholder="Ваш телефон")
          input(type="submit")
          div#app="Отправить"
    div#mail.not_visible_mail
    include modal_stock.jade
    script!="window.stock = true; "
    script!="window.stock_main = true; "
    include sections/footer.jade  
