section.navigation
  .wrap
    .logo
    .tel!="+7 (7172) <b>515 606</b>"
    .time!="<b>Время работы</b>: 10:00 - 22:00"
    .geo="г. Астана, пр. Туран, 24"
    .burger.menu
    nav.close
      .wrap_menu
        h3!="<span class='opener'> </span>Магазины"
        ul.filters.open
          li
            span.circle!="⚬"
            span="Аксессуары"
          li
            span.circle!="⚬"
            span="Аптека" 
          li
            span.circle!="⚬"
            span="Косметика"   
          li
            span.circle!="⚬"
            span="Одежда мужская"   
          li
            span.circle!="⚬"
            span="Одежда женская" 
          li
            span.circle!="⚬"
            span="Одежда детская"  
          li
            span.circle!="⚬"
            span="Обувь"
          li
            span.circle!="⚬"
            span="Oптика" 
          li
            span.circle!="⚬"
            span="Сувениры" 
          li
            span.circle!="⚬"
            span="Спортивная одежда" 
          li
            span.circle!="⚬"
            span="Супермаркет" 
          li
            span.circle!="⚬"
            span="Товары для дома"  
          li
            span.circle!="⚬"
            span="Ювелирные изделия и часы"  
          li
            span.circle!="⚬"
            span="Белье мужское и женское"  
          li
            span.circle!="⚬"
            span="Книги"  
          li
            span.circle!="⚬"
            span="Игрушки" 
        h3!="<span class='opener'> </span>Кафе бары рестораны"
        ul.filters.close
          li
            span.circle!="⚬"
            span="Рестораны"
          li
            span.circle!="⚬"
            span="Кафе"
          li
            span.circle!="⚬"
            span="Фуд-корт"
          li
            span.circle!="⚬"
            span="Снеки и сладости"
        h3!="<span class='opener'> </span>Услуги и развлечения"
        ul.filters.close
          li
            span.circle!="⚬"
            span="Автомойка"
          li
            span.circle!="⚬"
            span="Банк"
          li
            span.circle!="⚬"
            span="Банкоматы и терминалы"
          li
            span.circle!="⚬"
            span="Детский паровозик"
          li
            span.circle!="⚬"
            span="Салон красоты"
          li
            span.circle!="⚬"
            span="Салон чистки обуви"
          li
            span.circle!="⚬"
            span="Студия танца"
          li
            span.circle!="⚬"
            span="Обмен валюты"
          li
            span.circle!="⚬"
            span="Шиномонтаж"
          li
            span.circle!="⚬"
            span="Авиаагентство"
          li
            span.circle!="⚬"
            span="Химчистка"
          li
            span.circle!="⚬"
            span="Мимиория"
          li
            span.circle!="⚬"
            span="Кинотеатр"
          li
            span.circle!="⚬"
            span="Фотосалон"
        h3="Акции"
        h3="Контакты"
    .copyright
     span="© M-Line Property Management"
     br
     a(href="http://mindpro-group.com/" target="_blank")="Сделано в mindpro-group.com"
