section.time_work_modal.close
  .closer
  h3="Время работы:"
  ul
    li
      h4="Магазины"
      h5="(1,2,3 этажи) 10:00 - 22:00 "
    li
      h4="Супермаркет «5 минут»"
      h5="(1 этаж) 09:00 - 23:00"
    li
      h4="Закусочные"
      h5="(3 этаж) 10:00 - 24:00"
    li
      h4="Рестораны"
      h5=" (1,3 этажи) 12:00 - 24:00 выходные до 02:00 "
    li
      h4="Гардероб"
      h5="(2 этаж) 09:00 - 22:00"
    li
      h4="Подземный паркинг"
      h5="платный круглосуточный"
    li
      h4="Наземный паркинг"
      h5="бесплатный"
    li
      h4="Кинотеатр"
      h5="(3 этаж) 10:00 - 03:00"
